<header class="shadow-sm bg-[#150423]">
    <div class="max-w-screen-xl p-4 mx-auto">
        <div class="flex items-center justify-end">
            <a class="px-5 py-2 text-sm font-medium text-white bg-[#8343f0] rounded-lg hover:bg-purple-900 hover:scale-90 ease-in duration-75" href="">
                Sign In!
            </a>
        </div>
    </div>
</header>