<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendekno</title>
    <!-- <link href="../styles/styles.css" rel="stylesheet" type="text/css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex flex-col h-screen bg-[#150423]">
        <%- include('./components/nav'); %>
            <!-- NAV <header class="h-10 bg-red-500">Header</header> -->
            <div class="flex place-self-center place-items-center justify-center h-full w-full ">
                <div class="h-auto max-w-3xl w-full p-10">
                    <h1 class="text-center text-4xl md:text-6xl text-slate-200 font-mono place-items-center mb-4">
                        Whoops 404 NotFound</h1>
                    <a href="/">
                        <h2 class="text-center text-lg underline md:text-xl text-slate-200 font-mono place-items-center mb-4 hover:text-purple-500">Back To Home!</h2>
                    </a>
                </div>
            </div>
            <%- include('./components/footer'); %>
    </div>

</body>

</html>